.App {
  max-width: 1024px;
  padding: 20px 10px;
  margin: auto;
  display: flex;
}


.Form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

ul {
  list-style: none;
}

.Form__control {
  margin-bottom: 10px;
}

.App__wrapper:not(:last-child) {
  margin-right: 20px;
}

.App__wrapper-lists {
  flex-grow: 1;
}