.App {
  max-width: 1024px;
  padding: 20px 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* .App__title {
  
} */

.Form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  /* margin: auto; */
}

ul {
  list-style: none;
}

.Form__control {
  margin-bottom: 10px;
}